// colors
$clr-light: #ffffff;
$clr-dark: #0e0d2a;

$clr-main-bg-light: #fafafb;
$clr-main-bg: #f2f2f4;

$clr-tertiary-bg: #e5e5e8;
$clr-fourthly-bg: #fafcff;

$clr-text-primary: #0e0d2a;
$clr-text-secondary: #80808f;

$clr-border: #e5e5e8;
$clr-border-active: #8c8c9a;

$clr-disable: #ccccd2;
$clr-on-disable: #80808f;

// primary
$clr-primary: #1951fa;
$clr-primary-dark: #1441ce;
$clr-primary-light: #4774fb;
$clr-on-primary: #ffffff;
$clr-primary-bg: #d1dcfe;

//   secondary
$clr-secondary: #fa8070;
$clr-secondary-dark: #cd6b5f;
$clr-secondary-light: #fb998d;
$clr-on-secondary: #ffffff;
$clr-secondary-bg: #fee6e2;

// success
$clr-success: #388e3c;
$clr-success-dark: #2d7236;
$clr-success-light: #60a563;
$clr-on-success: #ffffff;
$clr-success-bg: #d7e8d8;

// info
$clr-info: #1976d2;
$clr-info-dark: #145eae;
$clr-info-light: #4791db;
$clr-on-info: #ffffff;
$clr-info-bg: #d1e4f6;

// warning
$clr-warning: #ffa000;
$clr-warning-dark: #cc8006;
$clr-warning-light: #ffb333;
$clr-on-warning: #ffffff;
$clr-warning-bg: #ffeccc;

// danger
$clr-danger: #d32f2f;
$clr-danger-dark: #a9262c;
$clr-danger-light: #dc5959;
$clr-on-danger: #ffffff;
$clr-danger-bg: #f6d5d5;

// font sizes
$font-size-7xl: 72px;
$font-size-6xl: 56px;
$font-size-5xl: 48px;
$font-size-4xl: 32px;
$font-size-3xl: 28px;
$font-size-2xl: 24px;
$font-size-xl: 20px;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-2xs: 8px;

// spacing
$gap-xxl: 36px;
$gap-xl: 24px;
$gap-lg: 18px;
$gap-md: 14px;
$gap-sm: 12px;
$gap-xs: 10px;

//  font weights
$font-weight-light: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// screen breakpoints
$desktop-breakpoint: 1400px;
$mini-desktop-breakpoint: 1200px;
$laptop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 575px;
$mobile-sm-breakpoint: 420px;
$mobile-xs-breakpoint: 360px;

// box shadow
$default-box-shadow: 0 0 35px var(--clr-shadow-color);
$default-border: 1px solid $clr-border;

// border radius
$large-border-radius: 16px;
$medium-border-radius: 8px;
$small-border-radius: 6px;

// fonts
$default-font-regular: "Inter-Regular";
$default-font-bold: "Inter-Medium";
$default-font-black: "Inter-Black";
$default-font-bold: "Inter-Bold";
$default-font-semiBold: "Inter-SemiBold";

// sidebar
$sidebarWidth: 150px;
